@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="position:relative;left:35%">Pay System</h1>
</div>

<div class="row">
    <div class="col-md-4" style="left: 35%">
        <table>

            <tr class="row">
                <td><img src="~/Content/images/skuter.jpg" alt="Alternate Text" /></td>
            </tr>
            <tr class="row">
                <td><p class="text-center">1000 lв</p></td>
            </tr>
            <tr class="row">
                <td class="text-center"><a href="/Bill/GetMoney/1000" class="btn btn-success btn-lg btn-block">Buy</a></td>
            </tr>


            <tr class="row">
                <td><img src="~/Content/images/bikechildren.jpg" alt="Alternate Text" /></td>
            </tr>
            <tr class="row">
                <td><p class="text-center">250 lв</p></td>
            </tr>
            <tr class="row">
                <td class="text-center"><a href="/Bill/GetMoney/250" class="btn btn-success btn-lg btn-block">Buy</a></td>
            </tr>



            <tr class="row">
                <td><img src="~/Content/images/bikemountain.jpg" alt="Alternate Text" /></td>
            </tr>
            <tr class="row">
                <td><p class="text-center">2000 lв</p></td>
            </tr>
            <tr class="row">
                <td class="text-center"><a href="/Bill/GetMoney/2000" class="btn btn-success btn-lg btn-block">Buy</a></td>
            </tr>

        </table>
        
    </div>

</div>