@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="position:relative;left:35%">Pay System</h1>
</div>

<div class="row">
    <div class="col-md-4" style="left: 35%">
        @{if (User.Identity.IsAuthenticated)
            {
                <table>

                    <tr class="row">
                        <td><img src="~/Content/images/skuter.jpg" alt="Alternate Text" /></td>
                    </tr>
                    <tr class="row">
                        <td><p>1000 lв</p></td>
                        <td><a href="/Bill/GetMoney/1000" class="btn btn-default">Pay</a></td>
                    </tr>


                    <tr class="row">
                        <td><img src="~/Content/images/bikechildren.jpg" alt="Alternate Text" /></td>
                    </tr>
                    <tr class="row">
                        <td><p>250 lв</p></td>
                        <td><a href="/Bill/GetMoney/500" class="btn btn-default">Pay</a></td>
                    </tr>


                    <tr class="row">
                        <td><img src="~/Content/images/bikemountain.jpg" alt="Alternate Text" /></td>
                    </tr>
                    <tr class="row">
                        <td><p>2000 lв</p></td>
                        <td><a href="/Bill/GetMoney/2000" class="btn btn-default">Pay</a></td>
                    </tr>
                </table>
            }
        }
    </div>

</div>